<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Carrinho - Suplementos XYZ</title>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/nutrilabs.png') }}" alt="Logo da Loja Online" id="logo">
        </a>
    
        {% if session.get('user_id') %}
            <div id="user-info">
                <a href="{{ url_for('perfil') }}">
                    <img src="{{ url_for('static', filename='images/login.png') }}" alt="Ícone de usuário" class="user-icon">
                </a>
                <span id="username">{{ session.get('username', 'Usuário') }}</span>
            </div>
            <div id="header-right">
                <div id="user-actions">
                    <a href="{{ url_for('carrinho') }}" id="my-orders-btn">Carrinho</a>
                    <a href="{{ url_for('logout') }}" id="logout-btn">Logout</a>
                </div>
            </div>
        {% else %}
            <div id="user-actions">
                <a href="{{ url_for('login') }}" id="my-account-btn">Login/Registro</a>
            </div>
        {% endif %}
    </header>

    <main>
        <section id="cart">
            
            {% if cart_items %}
            {% for item in cart_items %}
            <div class="product-item" id="cart-list">
                <h3>{{ item.product.name }}</h3>
                <p>Quantidade: {{ item.quantity }}</p>
                <p>Preço unitário: R$ {{ "%.2f"|format(item.product.price) }}</p>
                <p>Subtotal: R$ {{ "%.2f"|format(item.quantity * item.product.price) }}</p>
                <form action="{{ url_for('remove_from_cart', item_id=item.id) }}" method="post">
                    <button type="submit" id="register-button">Remover</button>
                </form>
            </div>
        {% endfor %}
        <div class="product-item" id="cart-list">
                <p>Total: R$ {{ "%.2f"|format(total) }}</p>
            </div>
                {% if cart_id %}
                <div class="button-container">
                    <form action="{{ url_for('confirmar_assinatura', cart_id=cart_id) }}" method="get">
                        <input type="submit" id = 'checkout-btn' value="Confirmar Carrinho">
                    </form>
                </div>
                {% endif %}
            {% else %}
            <div class="product-item" id="cart-list">
                <p>Seu carrinho está vazio.</p>
            </div>
            {% endif %}
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>